@page "/"
@using Newtonsoft.Json;
@using Blazored.Storage;
@inject ILocalStorage localStorage

<h1>Hello, world!</h1>

Welcome to your new app.


<input id="fileInput" type="file" />
<img id="imgPreview" style="max-width:400px;" />
<button style="display:none" id="btnProcess" onclick="@FileAdded"></button>
@functions
{
    protected override void OnAfterRender()
    {
        base.OnAfterRender();
        JSInterop.OnLoaded();
    }

    void FileAdded()
    {
        var image = localStorage.GetItem<string>("image");
        Console.WriteLine(image);
    }
}
